// common
.temp{
  font-size: 10px;
}
.center-img {
  display: block;
  margin: auto;
}
.img {
  width: 100%;
}
.section {
  @media (min-width: 768px) {
    padding: 120px  0 ;
  }
  @media (max-width: 768px) {
    padding: 60px 0 ;
  }

  overflow: hidden;

  h2 , .sub-title {
    margin-top:  0 ;
    padding-top: $line-height-computed ;
    font-family: $lato;
    letter-spacing:2px;
    font-weight: bolder;
    margin-bottom: 30px;
  }
  .sub-title {
    padding-top: 0;
  }
  .sub-title {
    font-size: 10px;
    letter-spacing:2px;
    padding-bottom: 10px;
  }
  .des {
    letter-spacing:2px;
    line-height: 180% ;
    font-weight: 200 ;
  }
  h3 , .block-title {
    margin-top:  0 ;
    padding-top: $line-height-computed ;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing:2px;
    margin-bottom: 30px;


  }

}

.lightFont {
  color : $lightFontColor ;
  * {
    color : $lightFontColor ;
  }
}
.darkFont {
  color : $darkGray;//$darkFontColor ;
}



.navbar-nav a {
  font-family:$lato;
}

@media (min-width: $screen-md-min) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar-default {
    background: none ;
    border: 0;
  }

  .navbar-nav{
    background-color: rgba(255,255,255,.9);
  }
  .navbar .navbar-collapse {
    text-align: center;
  }

  .divider-vertical {
    height: $line-height-computed ;
    margin: $navbar-padding-vertical 0 ;
    width: 1px;
    background: rgb(218,217,213);
  }
}

#banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  padding-top: 9% ;
  padding-bottom: 18% ;
  // &::before {
  //   content: "";
  //   display: block;
  //   padding-top: 56%;
  // }

  padding-top: 90px ;

  .img {
    width: 80%;
  }
  .slogan {
    color : $primary-color ;
    margin-top:30px;
    font-size: 18px;
    color :$primary-color ;
    letter-spacing: 1px;
  }
  .time {
    color : $primary-color  ;
    font-size: 38px;
    font-family: $lato;
    margin: 40px 0 ;
    line-height: 110%;
    .date {
      line-height: 150%;
    }
  }

  .author{
    color : $primary-color  ;
    margin-top:  0 ;
    padding-top: $line-height-computed ;
    font-family: $lato;
    letter-spacing:2px;
    font-weight: bolder;
    margin-bottom: 30px;
  }

}

// .feather {
//   background-image: url("../img/PAGE 3 BG.png") ;
//   background-size: contain;
//   background-position: bottom;
//   background-repeat: no-repeat;
//   &::before {
//     content: "";
//     display: block;
//     padding-top: 58.6%;
//   }
// }
b {
  font-weight: 600 ;
}
.bg{
  width: 100%;
  position: absolute;
  _z-index: -1 ;
}
.copyright {
  @media (min-width: 768px) {
    padding-top: 150px;
  }
}

#haunting{
  background:$darkGray;
  background-image: url("../img/feathers.png");
  background-size: 70%;
  // background-position: 0 100px ; controlled by SM
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    padding-top: 400px;
  }
  @media (max-width: 768px) {
    background-image:none ;
    background-position:left top;
  }
}

#intro {
  background-color: $lightGray ;
  background-image: url("../img/bigFeather.png");
  background-size: cover ;
  background-position: center;
  @media (max-width: 768px) {

    background-image: url("../img/phone/phone_page3.png");
    background-position:center;
  }
}

#about{
  background-color: $darkGray  ;
  * {
    color : $lightFontColor ;

  }
  .group {
    @extend .col-md-4 ;
    @extend .col-sm-6 ;
    &:first-child{
      @extend .col-md-offset-2 ;
    }

    h3 {
      margin-top:  0 ;
      padding-top: $line-height-computed ;
      font-family: $lato;
      _letter-spacing:2px;
      font-weight: bold;
      _margin-bottom: 30px;
    }

    dd {
      vertical-align: text-top;
      display: inline-block;
      line-height: 150%;
      min-height: 2em ;
      max-width: 17em ;
      margin-bottom: 1.1em ;
      &:after {
      content:"\a";
      white-space: pre;
      }

      // br {
      //   display: none;
      // }
    }

    dt {
      min-width: 3em ;
      margin-right : 1em ;
      vertical-align: text-top;
      display: inline-block;
    }
  }

}

#program {
  background-color: $darkGray  ;
  * {
    color : $lightFontColor ;
  }
  .comming_head {
    width: 90px;
  }
  h3 {
    // font-size: 1.7em;
  }
  // font-size: 1.3em;
  .table {
    td {
      vertical-align: middle;
      padding-left: 20px;
    }

    & * {
      border: none ;
    }
    td:first-child{
      span::after {
        content: "";
        width: 100%;
        display: inline;
      }
      text-align: justify;

      width: 115px;
      font-family: $lato;
    }
    td:nth-child(2){
      letter-spacing:1px;
    }

  }


}
#registration {
  @media (min-width: 768px) {
    padding: 100px 0 ;
  }
  background-color:$lightGray ;
  * {
    color : $darkFontColor ;
    letter-spacing: 1px;
  }

  h3 {
    margin-top: 3em ;
    font-size: $font-size-large;
    font-weight: bolder;
  }
  p {
    line-height: 1.7em;
    margin-bottom: 1.8em;
  }
  li {
    line-height: 1.7em;
  }
}

#sponsor{
  background-color:$lightGray ;
  * {
    color : $darkFontColor ;
  }
}

footer.section{
  background-color: $darkGray  ;
  * {
    color : $lightFontColor ;
  }
  .chinese {
    font-family: $font-family-sans-serif  !important;
    letter-spacing: 1px;
  }
  letter-spacing: 1px;

  font-family: $lato ;
  @media (min-width: 768px) {
    padding-top: 200px;
  }
  padding-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
