$main-color : rgba(79,72,56,1);

$primary-color : rgb(90,80,60) ; 

$lightGray : rgba(220,220,220,1);

$lightFontColor : rgb(203,203,203);
$darkFontColor : rgb(100,91,71);
$darkGray : rgba(89,89,89,1);

$lato :  'Lato', sans-serif , "新細明體";
